body {
    background-image: none;
    background-color: rgb(80, 76, 76);
}

.container{
    text-align: center;
    margin: 0 auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 
        4fr 1fr;
    grid-template-rows: 
        1fr 4fr;
    grid-template-areas:
    "question scores"
    "answers scores"
}

#question{grid-area: question;}
#answers{grid-area: answers;}
#scores{grid-area: scores;}

#question, #answers, #scores {
    padding: 1.5em;
}

#question {
    justify-content: center;
    align-self: center;
}

h2 {
    font-size: 2.5em;
    line-height: 1.1;
}

#answers {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-width: 320px;
    max-height: 100%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1.2em 1.2em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #24243e;
    border-color: none;
}