body {
    background-image: none;
    background-color: rgb(80, 76, 76);
}

.container{
    text-align: center;
    margin: 0 auto;
    display: grid;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    grid-template-columns: 
        7fr 1fr;
    grid-template-areas:
        "A B";
}

#aaa{grid-area: A;}
#scores{grid-area: B;}

#question, #answers, #scores {
    padding: 1.5em;
}

#question {
    justify-content: center;
    align-self: center;
    min-height: 400px;
}

#aaa {
    max-width: 95%;
}

h2 {
    font-size: 2.7em;
    line-height: 1.1;
}

#answers {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-width: 320px;
    max-height: 100%;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 1.2em 1.2em;
    margin: 0.5em;
    font-size: 1.2em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    transition: background-color 0.2s;
}
button:hover {
    background-color: #24243e;
    border-color: none;
}