/* figure {
    position:absolute;
    max-width:45%;
    max-height:45%;
    top:50%;
    left:50%;
    overflow:visible;
} */
img {
    max-width:100%;
    max-height:100%;
}

figure{
    max-width: 50%;
}

.contain{
    text-align: center;
    margin: 0 auto;
    display: flex;
    max-width: 100%;
    max-height: 90vh;
    overflow: hidden;
    align-items: center;
}